*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.github/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
src/{{ project_name }}/settings/local.py
src/node_modules
media
static
stats
Dockerfile
Dockerfile.cr
docker-compose.*.yml
*.sh
scripts
Makefile
*.md
*.log
.coveragerc
.gitignore
.pre-commit-config.yaml
debug.log
celerybeat-schedule
htmlcov
